/* Main cards.HTML */

.title {
  margin-bottom: 30px;
  color: #162969;
}


.card {
  width: 320px;
  height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  background: none;
  border: none;
}

.card__part {
  box-shadow: 1px 1px #aaa3a3;
  top: 0;
  position: absolute;
  z-index: 1000;
  left: 0;
  display: inline-block;
  width: 320px;
  height: 190px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  -webkit-transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card__front {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
}

.card__back {
  padding: 18px 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
}

.chip {
  position: relative;
  top: 0px;
  left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 36px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom left, #ffecc7, #d0b978);
  overflow: hidden;
}

.chip .chip-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #333;
}

.chip .chip-line:nth-child(1) {
  top: 13px;
}

.chip .chip-line:nth-child(2) {
  top: 20px;
}

.chip .chip-line:nth-child(3) {
  top: 28px;
}

.chip .chip-line:nth-child(4) {
  left: 25px;
  width: 1px;
  height: 50px;
}

.chip .chip-main {
  width: 20px;
  height: 25px;
  border: 1px solid #333;
  border-radius: 3px;
  background-image: linear-gradient(to bottom left, #efdbab, #e1cb94);
  z-index: 1;
}


.card__black-line {
  margin-top: 5px;
  height: 38px;
  background-color: #303030;
}

.card__logo {
  position: relative;
  top: -6px;
  left: 9px;
  height: 47px;
}

.card__front-logo {
  position: absolute;
  top: 18px;
  right: 18px;
}

.card__square {
  border-radius: 5px;
  height: 30px;
}

.card_numer {
  display: block;
  width: 100%;
  word-spacing: 4px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  margin-top: 22px;
  -webkit-text-stroke: black .75px
}

.card__space-75 {
  width: 100%;
  float: left;
}

.card__space-25 {
  width: 100%;
  float: left;
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.card__label {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}

.card__info {
  text-align: center;
  font-size: 16px;
  line-height: 11px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card__back-content {
  padding: 15px 15px 0;
}

.card__secret--last {
  color: #303030;
  text-align: right;
  margin: 0;
  font-size: 14px;
}

.card__secret {
  padding: 5px 12px;
  background-color: #fff;
  position: relative;
}

.card__secret:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% - 42px);
  border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.card__back-square {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.card:hover .card__front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);

}

.card:hover .card__back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

.gold {
  background-image: url("../assets/img/24783.jpg");
}

.titanium {
  background-image: url("../assets/img/istockphoto-1272025240-612x612.jpg");
}

.silver {
  background-image: url("../assets/img/pngtree-black-and-silver-background-for-web-image_738372.jpg");
}

.createCard {
  width: 320px;
  height: 190px;
  border-radius: 8px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createCard>span{
  color: white;
  text-decoration: none;
  font-size: 32px;
}

.createCard:hover span{
  color: orange;
  transition: .5s;
}

.createCard>svg{
  width:48px;
  height:48px;
  fill:white; 
}

.createCard:hover svg{
  fill: orange;
  transition: .5s;
}
